@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn more about <a href="https://learn.microsoft.com/pt-br/dotnet/csharp/whats-new/csharp-12">what's new in C# 12</a>.</p>
</div>
