@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>See more about the <a href="https://privacy.microsoft.com/en-us/privacystatement">Microsoft Privacy Policy</a></p>
